exclude-paths:
  # Ignore test files
  - conjur-service-broker-go/test/*
  # This is an externally-defined API spec this project must adhere to
  - conjur-service-broker-go/api/openapi.yaml

exclude-queries:
  - b03a748a-542d-44f4-bb86-9199ab4fd2d5 # Healthcheck Instruction Missing
  # The images in this repo are used only for testing purposes
  - fd54f200-402c-4333-a5a4-36ef6709af2f # Missing User Instruction
  # The following queries relate to unpinned versions, which we've decided to allow
  - d3499f6d-1651-41bb-a9a7-de925fea487b # Unpinned Package Version in Apk Add
  - 9efb0b2d-89c9-41a3-91ca-dcc0aec911fd # Image Version Not Explicit
